.bio_container {
  border-width: 2px;
  padding: 10px 20px 10px 10px;
  width: 320px;
  font-weight: 300;
  float: left;
}

.newstitle {
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  width: 50%;
}

.newssite {
  float: left;
  text-align: center;
  border-style: solid;
  border-color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
}

.clear {
  clear: left;
}

.name_container {

}

.image_container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
}

.news_container {

}

#greeting {
  font-size: 2em;
  margin: 1em;
}

#weather {
  font-size: 2em;
  margin: 1em;
}

#rss_items {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  width: 320px;
}

.rss_title {
  font-size: 1.2em;
}

.rss_description {
  padding-top: 5px;
  padding-bottom: 20px;
}

.cell {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
}

.cell_name {
  font-weight: bold;


}

.cell_address {

}

.cell_url {

}

.cell_phone {

}
